@font-face {
  font-family: "HelveticaNeue";
  src: url("HelveticaNeue-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("HelveticaNeue-Light.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("HelveticaNeue-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("HelveticaNeue.woff") format("woff");
  font-weight: 400;
}
